:root {
    /* Main colors */
    --main-primary: #3B82F6;
    --main-inactive: #7CB2F9;
    --main-white: #FFF;
    --main-primary-hover: #1D4ED8;
    --main-base-primary-white: #F2F7FE;
    --main-base-page-container: #F7F8FA;
    --bg-color: #FFF;
    
    /* Text colors */
    --text-title: #252C44;
    --text-secondary: #3F5878;
    --text-light: #C6D5EA;
    --text-gray: #9FA8B0;
    --text-black: #101318;  
}
  