.form {
  position:relative;
  min-width: 326px;
  height: 68px;
}

.form-label {
  position: absolute;
  display: flex;
  left: 15px;
  top: 23px;
  color: var(--text-black);
  background-color: var(--text-white);
  z-index: 10;
  font: var(--font-span0);
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.label-on-top {
  transform: translateY(-80%);
  font: var(--font-span-footnotes1);
  color: var(--text-dark-gray);
}

.form-input {
  position: relative;
  padding: 22px 16px;
  width: 100%;
  height: 100%;
  outline: 0;
  border-radius: 16px;
  border: 0;
  font: var(--font-span0);
  background-color: var(--main-base-page-container);
}

.form-input:focus-visible {
  outline: none;
}

.input-down {
  padding: 32px 16px 12px;
}

.form-input:focus {
  border: 1px solid var(--main-primary);
  background-color: var(--main-white);

} 

.filled {
  border: 1px solid var(--text-light-gray);
  background-color: var(--main-white);
}

.close {
  position: absolute;
  top: 22px;
  right: 20px;
  cursor: pointer;
  color: var(--main-icons-active);

  &:hover {
    color: var(--main-icons-hover);
  }
}

.empty {
  color: var(--main-icons-disable);
}

.invalid-bg {
  background-color: var(--main-notification-error-red-white);
}

.focus-invalid {
  border: 1px solid var(--main-notification-error-red) !important;
}
