.button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.button:disabled {
     cursor: default;
}

.primary {
    background-color: var(--main-primary);
    color: var(--main-white);
    border: none;
}

.primary:hover {
     background-color: var(--main-primary-hover);
}

.primary:disabled {
     background-color: var(--main-inactive);
}

.secondary {
    background-color: var(--main-white);
    border-radius: 12px;
    border: 1px solid var(--main-primary);
    color: var(--main-primary);
}

.secondary:hover {
     border: 1px solid var(--main-primary-hover);
     color: var(--main-primary-hover);
}

.secondary:disabled {
     border: 1px solid var(--main-primary);
     opacity: 0.5;
}

.neutral {
    background: #F7F8FA;
    color: var(--text-black);
    border: none;
}

.neutral:hover {
     background: #F3F4F6;
}

.neutral:disabled {
     background: #F3F4F6;
     opacity: 0.5;
}

.black {
    background: var(--text-black);
    color: var(--main-base-page-container);
    border: none;
}

.neutral-black {
    background: #F7F8FA;
    color: var(--text-black);
    border-radius: 12px;
    border: 1px solid var(--text-black);
}

.neutral-black:disabled {
    background: #F3F4F6;
    opacity: 0.5;
}

.xs {
    width: 56px;
    height: 56px;
}

.sm {
    width: 80px;
    height: 32px;
}

.md {
    width: 180px;
    height: 40px;
}

.lg {
    width: 250px;
    height: 48px;
}

.xl {
    width: 320px;
    height: 56px;
}

.full {
    width: 100%;
}